# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
logs/
*.log

# Cobertura de tests
htmlcov/
.coverage
coverage.xml

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
